/*colores para los textos*/
.text-alert-error {
    color: #f44336;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 3px;
}

/*colores para los botones de las tablas*/
.btn-color-table-edit {
    background-color: #ffc107;
    color: white;
}

.btn-color-table-edit:hover {
    background-color: #e0a800;
    color: #fff;
    transform: translateY(-1px);
}

.btn-color-table-active {
    background-color: #28a745;
    color: #fff;
}

.btn-color-table-inactive {
    background-color: #6c757d;
    color: #fff;
}

.btn-color-table-active:hover {
    background-color: #218a3a;
    color: #fff;
    transform: translateY(-1px);
}

.btn-color-table-inactive:hover {
    background-color: #53595e;
    color: #fff;
    transform: translateY(-1px);
}

.btn-color-table-permissions {
    background-color: #17a2b8;
    color: #fff;
}

.btn-color-table-permissions:hover {
    background-color: #138496;
    color: #fff;
    transform: translateY(-1px);
}

/*colores para botones generales del sistema*/
.btn-color-create {
    background-color: #007bff;
    color: #fff;
}

.btn-color-create:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-color-dark {
    background-color: #6c757d;
    color: #fff;
}

.btn-color-dark:hover {
    background-color: #585e64;
    color: #fff;
}
