.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.__loading {
    font-size: 18px;
    margin-left: 8px;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-4 {
    gap: 1.5rem;
}

.gap-5 {
    gap: 2rem;
}
