
body:not(.layout-fixed) .main-sidebar {
    background-color: #fff !important;
}

.main-header .navbar ul li  a {
    color: white !important;
}

.main-sidebar .brand-link{
    border-bottom: 1px solid #030025;
}

.sidebar {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.nav-sidebar>.nav-item> .nav-link {
    color: #000000 !important;
}

.nav-link {
    padding: 0.5rem 0.5rem !important;
    width: 100% !important;
}
.main-header  {
    background-color: #030025 !important;
}

.main-header .navbar-nav .nav-link {
    color: white !important;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
    background: #fff;
}

.sidebar-mini.sidebar-collapse .main-sidebar:not(.sidebar-no-expand):hover {
    background: #fff;
}

.nav-pills .nav-link{
    color: #000000;
    border-radius: 0 !important;
}

.sidebar-white-primary .nav-sidebar>.nav-item>.nav-link i {
    margin-right: 4px;
}

.nav-pills .nav-link:not(.active):hover {
    background-color: #030025 !important;
    color: #C0A241!important;
    font-weight: bold;
}

.sidebar-white-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #030025 !important    ;
    color: #C0A241 !important;
    font-weight: bold;
    box-shadow: 0px 0px 6px 0px;
}

[class*=sidebar-white-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: #030025 !important    ;
    color: #C0A241 !important;
    font-weight: bold;
}

[class*=sidebar-white-] .nav-sidebar>.nav-item.menu-open>.nav-link {
    background-color: #030025 !important    ;
    color: #C0A241 !important;
    font-weight: bold;
}


[class*=sidebar-white-] .nav-sidebar>.nav-item.menu-open>.nav-link {
    background-color: #030025 !important    ;
    color: #C0A241 !important;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #030025 !important;
    color: #C0A241 !important;
    font-weight: bold;
}

.content-header {
    padding: 30px 0.5rem !important;
}
